body{
	display:grid;
  grid-template-rows: 1fr 6fr;
}

header{
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: black;
	flex-direction: column;
	gap: 20px;
	padding: 20px;

}
.logo{
	font-size: 40px;
	color:white;
}
nav{
	display: flex;
	gap: 10px;
	list-style: none;
	background-color: transparent;
}
.nav-child{
	font-size: 25px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: transparent;
	border-style: none;
	color: white;
}

